{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% for row in rows %}
    {%
    set row_classes = [
    default_row_class ? 'views-row',
	'univers'
    ]
    %}

   {# <div {{ row.attributes.addClass(row_classes) }}>#}
		{% if loop.index < 8 %}
		
			{% if loop.index < 4 %}
			<div class="avec-metiers">
					<h2>{{ row.node.titre }}	<hr>	</h2>
						<ul>
							{% for metier in row.node.metiers %}
								{% if loop.index < 5 %}
									<li>{{ metier }}</li>
								{% endif %}
							{% endfor %}
						</ul>
					<a href="{{ url('entity.node.canonical', {'node': 72}) }}/#univers-{{row.node.id}}">Voir plus<img src="{{ base_path ~ directory }}/images/arrow.svg" /> </a>
			</div> 
			{% elseif loop.index==4 %}	</div>	<div class="univers-ss-metiers"> <h2>{{ row.node.titre }}	<hr>	</h2>
			{% else %}
					<h2>{{ row.node.titre }}	<hr>	</h2>
			{% endif %}
		{% endif %}
{% endfor %}
</div>
