<div class='all-pages-contenu'>
	<div class='all-pages-para'>
		<h1> Un réseau d'artisans conçu dans l'intérêt commun </h1>
		L’orientation première tout d’abord est, la qualité du réseau, par le professionnalisme, 
		l’image reflétée de l’artisan  dans son milieu, par le respect de son engagement au sein d’un groupe, 
		permettant ainsi lors des réunions locales Ker Gafa, des échanges constructifs : sur les différents besoins communs du marché :
		 démonstration sur chantier, des formations et informations sur les réglementations en cours, sur les nouveaux produits du marché,
		  et des orientations d’intérêt commun que développe Ker Gafa aux services de ses adhérents.
	</div>
	
	<div class="kg-flex">
		<img src="{{ base_path ~ directory }}/images/kg-img-1.jpg" /> 
		
		
		<div class='all-pages-para  kg-flex-right'>
			<h1>Négoce de matériaux en ligne pour les artisans </h1>
			
			Notre Groupement d’Achat Français d’Artisans, est un négoce de matériaux en ligne, 
			mettant à disposition les produits nécessaires aux  professionnels adhérents Ker Gafa 
			pour la mise en place de leur salle exposition, totalement réservée à leur client potentiel, 
			et non ouvert au grand public. Les rendez-vous se font essentiellement par contact téléphone, 
			mail…et autres comme par exemple les prescripteurs professionnels, qui sont les architectes, les maîtres d’œuvres, décorateurs…
			
			<div class="encadre"> 
				<div class="left"> Lorem ipsum fertur neminem aliquando ob haec </div>
				<a href="{{ row.node.url_btn }}" class="default-btn secondary-color real-btn">
					{% if row.node.texte_btn %}{{ row.node.texte_btn }}{% else %}{{ "Accéder à l'extranet"|t }}{% endif %}
				</a>
			 </div>
		</div>
	</div>
	<div class='all-pages-para'>
		<h1> Comment adhérer au réseau Ker Gafa en tant qu'artisan ?</h1>
		Pour être adhérent, il faut avant tout être un bon professionnel du bâtiment, 
		avoir la passion de son métier, être à l’écoute de ses clients, l’accompagner dans ses choix esthétiques, 
		dans son budget, répondre aux attentes techniques… Ker Gafa accompagne les adhérents à cette exigence.
		</br>	</br>
		Dein Syria per speciosam interpatet diffusa planitiem. hanc nobilitat Antiochia, mundo cognita civitas, 
		cui non certaverit alia advecticiis ita adfluere copiis et internis, et Laodicia et Apamia itidemque 
		Seleucia iam inde a primis auspiciis florentissimae.
		</br>	</br>
		Saraceni tamen nec amici nobis umquam nec hostes optandi, ultro citroque discursantes quicquid inveniri poterat momento 
		temporis parvi vastabant milvorum rapacium similes, qui si praedam dispexerint celsius, volatu rapiunt celeri, aut nisi impetraverint, non inmorantur.
	</div>
	<div class="kg-flex-img">
			<div class="img-1">
				<img src="{{ base_path ~ directory }}/images/kg-img-2.jpg" />
				Légende de la photo
			</div> 
			<div class="img-2">
				<img src="{{ base_path ~ directory }}/images/kg-img-3.jpg" /> 
				Légende de la photo
			</div> 
			<div class="img-3">
				<img src="{{ base_path ~ directory }}/images/kg-img-4.jpg" /> 
				Légende de la photo
			</div> 
		</div>
	<div class='all-pages-para'>
		<h1> Antiochia, mundo cognita civitas, cui non certaverit </h1>
		
		Pour être adhérent, il faut avant tout être un bon professionnel du bâtiment, avoir la passion de son métier, être à l’écoute de ses clients,
		 l’accompagner dans ses choix esthétiques, dans son budget, répondre aux attentes techniques… Ker Gafa accompagne les adhérents à cette exigence.
		</br>	</br>
		Dein Syria per speciosam interpatet diffusa planitiem. hanc nobilitat Antiochia, mundo cognita civitas,
		cui non certaverit alia advecticiis ita adfluere copiis et internis, et Laodicia et Apamia itidemque Seleucia iam inde a primis auspiciis florentissimae.
		</br>	</br>
		Saraceni tamen nec amici nobis umquam nec hostes optandi, ultro citroque discursantes quicquid inveniri poterat 
		momento temporis parvi vastabant milvorum rapacium similes, qui si praedam dispexerint celsius, volatu rapiunt celeri, aut nisi impetraverint, non inmorantur.
	</div>
</div>