{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}


<div class='all-pages-contenu'>
		
		
	<div class="rejoindre-page-flex">
		<div class='all-pages-para'>
			<h1> Rejoignez-nous pour profiter de la force d'un réseau national d'artisans </h1>
			
			Pour être adhérent, il faut avant tout être un bon professionnel du bâtiment, avoir la passion de son métier, être à l’écoute de ses clients,
			 l’accompagner dans ses choix esthétiques, dans son budget, répondre aux attentes techniques… Ker Gafa accompagne les adhérents à cette exigence.
		</div>
		<div class="encadre-rejoindre">
				PARTICULIERS : </br>
		Vous êtes à la recherche d'un artisan de notre réseau ?
				<a href="/node/42" class="default-btn secondary-color">
					{% if row.node.texte_btn %}{{ row.node.texte_btn }}{% else %}{{ "Contactez-nous"|t }}{% endif %}
				</a>

		</div>
	</div>



	<div{{ attributes.addClass(classes) }}>
	  {{ title_prefix }}
	  {% if label %}
		<h2{{ title_attributes }}>{{ label }}</h2>
	  {% endif %}
	 
	  {{ title_suffix }}
	  {% block content %}
		{{ content }}
	  {% endblock %}
	  
	</div>
</div>